.mud-layout {
    display: flex;
}

.mud-main-content {
    background-color: #EFEFEF;
    padding-top: 64px;
    display: flex;
}

.mud-container {
    display: flex;
    padding: 0;
    margin: 0;
    max-width: unset;
    width: unset;
}

.mud-grid-item {
    display: flex;
}

.mud-paper {
    box-shadow: none;
}

.mud-expansion-panels, .mud-collapse-wrapper, .mud-collapse-wrapper-inner {
    display: flex;
    flex-direction: column !important;
    flex: 1 1 auto !important;
}

.mud-expand-panel {
    display: flex;
    flex-direction: column !important;
    flex: 0 0 auto;
}

.mud-expand-panel-header {
    padding: 8px !important;
}

.mud-panel-expanded {
    flex: 1 1 auto !important;
    margin: 0px !important;
}

.mud-collapse-entered {
    height: unset !important;
    display: flex;
    flex-direction: column !important;
    flex: 1 1 auto !important;
}

.mud-expand-panel-content {
    display: flex;
    padding: 0px !important;
}

.mud-table-cell {
    font-size: unset;
    font-weight: unset;
}

.mud-button {
    text-transform: none;
}

.mud-button-text {
    padding: 0px;
}

.mud-icon-button {
    padding: 0px;
}

.mud-input {
    font-size: var(--mud-typography-default-size);
}

.mud-input-control {
    margin: unset;
}

.mud-input-control > .mud-input-control-input-container > div.mud-input.mud-input-text {
    margin: unset;
}

.page-layout {
    flex-direction: row;
    flex: 1 1 auto;
}

.full-viewport {
    flex-direction: column;
    flex: 1 1 100%;
}

.soft-border {
    border-radius: var(--mud-default-borderradius);
    border-width: 1px;
    border-style: solid;
    border-color: #DFDFD7;
}

.main-action {
    padding: 0 16px;
    color: #F8F8F8;
    background-color: #D91A20;
}

.main-action.mud-button:hover {
    background-color: #D91A20;
}

.item-list {
    padding: 0 16px 16px 16px;
}

.item-list th {
    padding: 30px 12px 8px 12px !important;
    color: #9F9F96 !important;
    border-bottom: 1px solid;
}

.item-list th:first-child {
    padding: 30px 12px 8px 8px !important;
}

.item-list th:last-child {
    padding: 30px 8px 8px 12px !important;
}

.item-list .mud-theme-primary td {
    color: var(--mud-palette-primary-text) !important;
}

.item-list td {
    font-size: var(--mud-typography-body2);
    padding: 15px 12px !important;
    border-right: 0px !important;
}

.item-list td:first-child {
    padding: 15px 12px 15px 8px !important;
}

.item-list td:last-child {
    padding: 15px 8px 15px 12px !important;
}

.navigator {
    padding: 16px;
    border-right: 1px solid;
}

.page-content {
    padding: 16px;
    background-color: var(--mud-palette-background);
}

.page-content h2 {
    margin: 2px 0px 16px 0px;
}

.page-content .buttons {
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 6px;
}

.page-content button {
    margin: 0 8px 6px 0;
}
