.mud-layout {
    display: flex;
}

.mud-main-content {
    background-color: #EFEFEF;
    display: flex;
}

.mud-container {
    display: flex;
    padding: 0;
}

.mud-grid {
    align-content: flex-start;
    width: 100% !important;
}

.mud-grid-item {
    display: flex;
}

.mud-paper {
    background-color: #EFEFEF;
    display: flex;
    box-shadow: none;
}

.mud-expansion-panels, .mud-collapse-wrapper, .mud-collapse-wrapper-inner {
    display: flex;
    flex-direction: column !important;
    flex: 1 1 auto !important;
}

.mud-expand-panel {
    display: flex;
    flex-direction: column !important;
    flex: 0 0 auto;
}

.mud-expand-panel-header {
    padding: 8px !important;
}

.mud-panel-expanded {
    flex: 1 1 auto !important;
    margin: 0px !important;
}

.mud-collapse-entered {
    height: unset !important;
    display: flex;
    flex-direction: column !important;
    flex: 1 1 auto !important;
}

.mud-expand-panel-content {
    display: flex;
    padding: 0px !important;
}

.mud-table {
    width: 100%;
}

.mud-table-root {
    padding: 16px;
}

.mud-table-cell {
    font-size: unset;
    font-weight: unset;
}

.mud-button {
    text-transform: unset;
}

.mud-icon-button {
    padding: unset;
}

.mud-icon-button-edge-end {
    margin-inline-end: unset;
}

.mud-popover.mud-popover-open {
    background-color: white;
    border-radius: var(--mud-default-borderradius);
    border-width: 2px;
    border-style: solid;
    border-color: #DFDFD7;
}

.mud-picker-inline-paper .mud-paper {
    background-color: white;
}

.mud-form {
    width: 100%;
}

/*.mud-input {
    font-size: var(--mud-typography-body2-size);
    width: fit-content;
    min-width: 50%;
}*/

.mud-input-control {
    margin-top: 8px;
    margin-bottom: 8px;
}

.mud-input-control > .mud-input-control-input-container > div.mud-input.mud-input-text {
    margin-top: unset;
}

.mud-input-label-inputcontrol {
    transform: translate(0,16px) scale(1);
}

.mud-shrink~label.mud-input-label.mud-input-label-inputcontrol, .mud-input:focus-within~label.mud-input-label.mud-input-label-inputcontrol {
    transform: translate(0,-8px) scale(.75);
}

.mud-switch {
    margin-left: unset;
    margin-right: unset;
    margin-inline-start: unset;
    margin-inline-end: unset;
}

.viewport {
    min-height: 100%;
    min-width: 100%;
}

.viewport-container {
    display: flex;
    max-height: 100%;
    max-width: 100%;
}

.viewport-header {
    flex-shrink: 0;
}

.viewport-body {
    min-height: 0;
    overflow-y: auto;
}

.group-box {
    background-color: white;
    border-radius: var(--mud-default-borderradius);
    border-width: 2px;
    border-style: solid;
    border-color: #DFDFD7;
}

.soft-border {
    border-radius: var(--mud-default-borderradius);
    border-width: 1px;
    border-style: solid;
    border-color: #DFDFD7;
}

.main-action {
    padding: 0 16px;
    color: #F8F8F8;
    background-color: #D91A20;
}

.main-action.mud-button:hover {
    background-color: #D91A20;
}

.item-list th {
    padding: 15px 12px 8px 12px !important;
    color: #9F9F96 !important;
    border-bottom: 1px solid;
}

.item-list th:first-child {
    padding: 15px 12px 8px 8px !important;
}

.item-list th:last-child {
    padding: 15px 8px 8px 12px !important;
}

.item-list .mud-theme-primary td {
    color: var(--mud-palette-primary-text) !important;
}

.item-list td {
    font-size: var(--mud-typography-body2-size);
    padding: 15px 12px !important;
    border-right: 0px !important;
}

.item-list td:first-child {
    padding: 15px 12px 15px 8px !important;
}

.item-list td:last-child {
    padding: 15px 8px 15px 12px !important;
}

.navigator {
    padding: 16px;
    border-right: 1px solid;
    flex-basis: 33%;
}

.page-content {
    padding: 16px;
    background-color: var(--mud-palette-background);
    min-height: 100%;
    align-content: flex-start;
}

.page-content h2 {
    margin: 2px 0px 16px 0px;
}

.page-content .buttons {
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 6px;
}

.page-content button {
    margin: 0 8px 6px 0;
}
